body{
  margin:0;
  background-color: #003366;
  color: white;

}
button{
  background-color: #339933;
}
.delete-btn{
background-color:  #ff9900;

}
.list-container{
  display: grid;
  justify-content: center;

  margin:10%;
}
.todo{
  text-align: left;
  align-items: center;

}

li{
list-style: none;
padding: 5px;

}
.done{
  text-decoration: line-through;
}
todo-item
